body {
  background-color: transparent !important;
}

.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 91vh;
}

.container {
  padding: 2% 5%;
}

